* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.con {
    width: 800px;
    margin: auto;
    background-color: #3c606d;
    margin-top: 20px;
    box-sizing: border-box;
    padding: 30px;
    border-radius: 50px;

}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #d7e1e4;
}

.condua {
    background-color: #7696a2;
    padding: 10px;
    border-radius: 10px;
    color: black;
}

label {
    color: #364b53;
}

button {
    background-color: #364b53;
    color: #d7e1e4;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #d7e1e4;
    color: #364b53;
    
}